[run]
source = cbus/
omit =
    experiments/*

    # wrapper only used by MQTT library code
    cbus/paho_asyncio.py

    # tools are generally simple wrappers, don't include them.
    cbus/tools/*

    # don't include things not in scope
    venv/*
