*.pyc
*.swp
*~
.DS_Store
__MACOSX
Thumbs.db
desktop.ini
*.ini
*.orig
build
dist
*.egg-info
docs/_build
.pytype
example.*
EXAMPLE.*
home.*
HOME.*
.git
.gitignore
.travis.yml
img
docs
platform
wiser-swf-de
.idea
venv
debian_platform_install.sh
.coverage
