*.pyc
*.swp
*~
.DS_Store
__MACOSX
Thumbs.db
desktop.ini
*.ini
*.orig
build
dist
*.egg-info
docs/_build
.pytype
example.*
home.*
img
.coverage
cmqttd_config/*.cbz
cmqttd_config/*.pem
cmqttd_config/*.key¸
cmqttd_config/*.xml
cmqttd_config/auth
certificates
.vscode
project.xml
venv
