*.pyc
*.swp
*~
.DS_Store
__MACOSX
Thumbs.db
desktop.ini
*.ini
*.orig
build
dist
*.egg-info
docs/_build
.pytype
example.*
home.*
img
.coverage
*.cbz
*.pem
*.key
auth
certificates
.vscode
project.xml
venv
