pyserial==3.5
pyserial_asyncio==0.6
six

# official protocol documentation downloading
requests

# required for cbus.toolkit.graph
pydot

# required for cmqttd
paho-mqtt==1.6.1

# required for cbz
lxml
